@media screen and (min-width:1200px) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    html {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 479px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 14px;
    }
}
